/Test.class
/GuessGame.class
/Power.class
/MultiplicationTable.class
/CountDigit.class
/Factorial.class
/GreatestofThree.class
/PositiveNegativeZerro.class
/Power2.class
/SalaryIncrement.class
/GamblingGames.class
/ReverseArray.class
